<div>
  <modal #detailsModal>
    <modal-header>
      <h4 class="modal-title">Full Workflow Review</h4>
    </modal-header>
    <modal-body>
      <table class="table wrkTable table-hover">
        <caption>
          <h6><span>Process:  </span><span><strong>{{ process }}</strong></span></h6>
          <h6><span>Subject:  </span><span><strong>{{ subject }}</strong></span></h6>
        </caption>
        <thead>
        <tr>
          <th *ngFor="let i of detailsHeaderNames|returnArray">{{i.value}}</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let data of detailsData">
          <td *ngFor="let i of detailsHeaderNames|returnArray">
            {{data[i.key]}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="remarks" *ngIf="remarks">
        <h6><strong>Remarks: </strong></h6>
        <h6>{{remarks}}</h6>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="closeModal()">Cancel</button>
    </modal-footer>
  </modal>
</div>
